*{margin: 0;
	padding: 0;}
.center {
	padding-left: calc(50% - 600px);
	padding-right: calc(50% - 600px);
}
html{
	 scroll-behavior: smooth;
}
body {
	font-family: "montserrat", sans-serif;

}

a,
input,
button,
select {
	font-family: "montserrat", sans-serif;
}
.top{height: 800px;
    background-image:url(img/header.jpg);
	background-repeat: no-repeat;
  	background-position: center;
  	background-size: cover;
	position: relative;
}
.vector{
	position: absolute;
	right: 0;
}
.vector-one{
	opacity: 0;
}
.star-for{
	position: absolute;
	width: 83px;
	height: 83px;
	border-width: 1px;
	bottom: 149px;
	right: 344px;
}
.star-fife{
	position: absolute;
	width: 37px;
	height: 37px;
	border-width: 1px;
	opacity: 1;
	bottom: 255px;
	right: 455px;
}
.star-free{
	position: absolute;
	width: 35px;
	height: 35px;
	border-width: 1px;
	opacity: 1;
	top: 69px;
	left: 156px;
}
.star-two{
	position: absolute;
	width: 57px;
	height: 57px;
	border-width: 1px;
	opacity: 1;
	top: 94px;
	left: 63px;
}
.title{max-width: 769px;
	font-family: Montserrat;
	font-weight: 700;
	font-style: Bold;
	font-size: 64px;
	line-height: 100%;
	letter-spacing: 0px;
	vertical-align: middle;
	padding-top: 45px;
	padding-bottom: 24px;
}
.header-text{max-width: 720px;
	font-family: Montserrat;
	font-weight: 400;
	font-style: Regular;
	font-size: 24px;
	line-height: 32px;
	letter-spacing: 0px;
	vertical-align: middle;
	margin-bottom: 52px;

}

/*.animation{display: flex;
	gap:51px;
background-color:#BCEC30;
border-width: 1px;
opacity: 1;
padding-top: 27px;
padding-bottom: 27px;
}
.animation-star{
width: 35px;
height: 35px;
}
.animation-text{
font-family: Montserrat;
font-weight: 700;
font-style: Bold;
font-size: 30px;
letter-spacing: 4%;
vertical-align: middle;
text-transform: uppercase;
}*/
.smole-card{
	position: relative;
	background-color:black;
    opacity: 1;

}


.card-game{
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	gap: 32px;
	row-gap: 0;
	

}
.star-one{
	position: absolute;
	width: 584px;
	height: 600px;
	border-width: 1px;
	opacity: 1;
	top: 82px;
	right: 0;
}
.star-eleven{
	position: absolute;
	width: 31px;
	height: 31px;
	border-width: 1px;
	opacity: 1;
	top: 770px;
	left: 25px;
}
.star-twelve{
	position: absolute;
	width: 54px;
	height: 54px;
	border-width: 1px;
	opacity: 1;
	top: 822px;
	left: 40px;
}

.card-header{
	padding-top: 96px;
	color:#FFFFFF;
	font-family: Montserrat;
	font-weight: 700;
	font-style: Bold;
	font-size: 64px;
	line-height: 100%;
	letter-spacing: 0px;
	vertical-align: middle;
}
.smole-card__text{
	margin-top: 24px;
	color:#FFFFFF;
	font-family: Montserrat;
	font-weight: 400;
	font-style: Regular;
	font-size: 24px;
	line-height: 32px;
	letter-spacing: 0;
	vertical-align: middle;

}
.up{grid-column: span 12;
	margin-top: 72px;
	display: flex;
	gap: 32px;
	flex-wrap: wrap;
	z-index: 1;

}
.doWn{
	grid-column: span 12;
	display: flex;
	gap: 32px;
	align-items: flex-end;
	flex-wrap: wrap;
}

.box-cub{
	width: 378px;
	height: 473px;
	background-color:#FFFFFF;
	opacity: 1;
	border-radius: 30px;
	transition: all 1s;
	z-index: 1;
}
.box-cub:hover{
	transform: scale(1.05);
}

.second-game,.fifth-game{
	height: 512px;
}
.fourth-game,.sixth-game{height: 551px;
}

.box-name{
	font-family: Montserrat;
	font-weight: 700;
	font-style: Bold;
	font-size: 48px;
	line-height: 100%;
	letter-spacing: 0;
	vertical-align: middle;

}
.box-text{max-width: 490px;
	font-family: Montserrat;
	font-weight: 400;
	font-style: Regular;
	font-size: 24px;
	padding-top: 24px;
	line-height: 32px;
	letter-spacing: 0px;
	vertical-align: middle;

}
.game-namber{
	font-family: Montserrat;
	font-weight: 500;
	font-style: Medium;
	font-size: 16px;
	letter-spacing: 0px;
	padding-top: 40px;
	
	}
	.game-name{
		padding-top: 16px;
	}
a{
	color:#202027;
	text-decoration: none;
	font-family: Montserrat;
	font-weight: 700;
	font-style: Bold;
	font-size: 32px;
	letter-spacing: 0px;
	vertical-align: middle;
}

.box-game{padding-left: 48px;
    display: flex;
    width: 306px;
    flex-direction: column;
    align-items: flex-start;
}

.big-card{
	position: relative;
	background-color:black;
	display: flex;
    gap: 32px;
    flex-wrap: wrap;
    flex-direction: column;
	padding-bottom: 144px;

}

.star-six{
	position: absolute;
	width: 68px;
	height: 68px;
	border-width: 1px;
	opacity: 1;
	top: 126px;
	right: 44px;
}
.star-seven{
	position: absolute;
	width: 35px;
	height: 35px;
	border-width: 1px;
	opacity: 1;
	top:47px;
	right: 123px;
}
.star-eight{
	position: absolute;
	width: 69px;
	height: 69px;
	border-width: 1px;
	opacity: 1;
	bottom: 65px;
	right: 52px;
}
.star-ten{
	position: absolute;
	width: 41px;
	height: 41px;
	border-width: 1px;
	opacity: 1;
	bottom: 45px;
	right:  150px;

}
.card-img{
	width: 600;
	height: 500;
	opacity: 1;
	border-radius: 30px;

}
.box-full{
	display: flex;
    background-color: #FFFFFF;
    border-radius: 30px;
    flex-direction: row-reverse;
    justify-content: space-between;

}
.big-box{
    display: flex;
    flex-direction: row;
}
.card-content{
	width: 505px;
	display: flex;
    padding: 48px 48px;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;

}

.top-game,
.card-play{
	color: white;
	background-color:#202027;
	opacity: 1;
	border-radius: 60px;
	padding: 16px 75px;
	font-family: Montserrat;
	font-weight: 600;
	font-style: SemiBold;
	font-size: 24px;
	line-height: 142%;
	letter-spacing: 0%;
	text-align: center;
	cursor: pointer;
	transition: 1.5s;

}
.card-play{
margin-top: 36px;
}

.top-game:hover{
	color:black;
	background-color:#FFFFFF;
}
.header-button{
	margin-top: 48px;
	background-color:#202027;
	opacity: 1;
	border-radius: 60px;
	padding: 16px 75px;
	font-family: Montserrat;
	font-weight: 600;
	font-style: SemiBold;
	font-size: 24px;
	color: #FFFFFF;
	line-height: 142%;
	letter-spacing: 0%;
	text-align: center;
	cursor: pointer;
	transition: 1.5s;
}
.header-button:hover{
	color:black;
	background-color:#FFFFFF;
}
.footer{
	background-color:#BDED35;

}
.footer-text{
	font-family: Montserrat;
	font-weight: 600;
	font-size: 24px;
	line-height: 100%;
	letter-spacing: 0px;
	text-align: center;
	vertical-align: middle;
	padding: 61px;
}

@media (max-width: 1024px){
	.center {
   		padding-left: 16px;
   		 padding-right: 16px;
 	}
	.top{
		height: 700px;
		position: relative;
		
	}
	
	.box-full {
    	width: 100%;
   	 	
	}

	.card-game {
    display: flex;
    gap: 32px;
    row-gap: 0;
	z-index: 1;

	}
	
	.vector {
		width: 400px;
		height: 400px;
    	position: absolute;
    	right: 0;
	}
	.star-one {
    	position: absolute;
   		 width: 400px;
   		 height: 500px;
    	border-width: 1px;
    	opacity: 1;
    	top: 82px;
    	right: 0;}
	.star-for {
        
        position: absolute;
        width: 50px;
        height: 50px;
        border-width: 1px;
        bottom: 150px;
        right: 180px;
    
	}
	.star-fife {
    	position: absolute;
    	width: 37px;
    	height: 37px;
    	border-width: 1px;
    	opacity: 1;
   		 bottom: 220px;
    	right: 260px;
	}
	.smole-card{
		position: relative;
	}
	.smole-card__text{
		padding-bottom: 40px;
	}
	.up{
		margin-top: 0;
	}
	.doWn{
		z-index: 1;
	}
	.game-namber{
		padding-top: 40px;
	}
	.game-name{
		font-family: Montserrat;
		font-weight: 700;
		font-style: Bold;
		font-size: 32px;
		line-height: 100%;
		letter-spacing: 0px;
		vertical-align: middle;


	}
	.box-cub {
    width: 378px;
    height: 551px;
 }
} 


@media (max-width: 767px){

	.center {
   	 padding-left: 16px;
   	 padding-right: 16px;
 	}
	.top{
		height: 700px;
		position: relative;
	}
	.title{
		padding-top: 146px;
		font-family: Montserrat;
		font-weight: 700;
		font-style: Bold;
		font-size: 40px;
		line-height: 50px;
		letter-spacing: 0%;
		text-align: center;
		vertical-align: middle;
	 }
	.header-text{
		font-family: Montserrat;
		font-weight: 400;
		font-style: Regular;
		font-size: 16px;
		line-height: 20px;
		letter-spacing: 0px;
		text-align: center;
		vertical-align: middle;
		margin-bottom: 52px;
	 }
    .top-game{
		margin-left:24px;
		padding: 16px 103px;
		font-family: Montserrat;
		font-weight: 600;
		font-style: SemiBold;
		font-size: 16px;
		line-height: 142%;
		letter-spacing: 0%;
		text-align: center;
		color: white;

	 }
	 .card-play{
		padding: 16px 110px;
		font-family: Montserrat;
		font-weight: 600;
		font-style: SemiBold;
		font-size: 16px;
		line-height: 142%;
		letter-spacing: 0%;
		text-align: center;
		color: white;
	 }

	 .vector,
	 .star-one,
	 .star-eleven,
	 .star-twelve,
	 .star-six,
	 .star-seven,
	 .star-eight,
	 .star-ten
	 {
		display: none;
	 }
	.vector-one{
		position: absolute;
		width: 147px;
		height: 147px;
		opacity: 1;
		right: 0;
		top: 0;
		border-width: 1px;
	}
	
	.star-two{
		position: absolute;
		width: 35px;
		height: 35px;
		opacity: 1;
		top: 97px;
		left: 38px;
		border-width: 1px;

	}
	.star-free{
		position: absolute;
		width: 21px;
		height: 21px;
		opacity: 1;
		top: 64px;
		left: 92px;
		border-width: 1px;

	}
	.star-for{
		
		position: absolute;
		width: 39px;
		height: 41px;
		opacity: 1;
		bottom: 79px;
		right: 34px;
		border-width: 1px;
	}
	.star-fife{
		position: absolute;
		width: 18px;
		height: 18px;
		opacity: 1;
		bottom: 125px;
		right: 86px;
		border-width: 1px;

	}
	.about-game,.smole-card__text{
		display: none;
	}
	
	.card-header{
		left: 0;
		padding-top: 48px;
		padding-bottom: 24px;
		display: block;
		font-family: Montserrat;
		font-weight: 700;
		font-style: Bold;
		font-size: 40px;
		line-height: 100%;
		letter-spacing: 0px;
		vertical-align: middle;

	}
    .smole-card{
	 display: none;
    }
	.game-name{
		font-family: Montserrat;
		font-weight: 700;
		font-style: Bold;
		font-size: 32px;
		line-height: 100%;
		letter-spacing: 0px;
		vertical-align: middle;


	}
	.big-card{
		padding-bottom: 9px;
	}
	.box-full{
		display: flex;
		flex-direction: column;
		width: 343px;
	}
	.card-content{
		padding: 29px;
		width: 285px;}
	.box-name{
		width: 100%;
		font-family: Montserrat;
		font-weight: 700;
		font-style: Bold;
		font-size: 32px;
		line-height: 40px;
		letter-spacing: 0px;
		vertical-align: middle;
		padding-bottom: 16px;

	}
	.box-text{padding-top: 0;
				width: 285px;
		font-family: Montserrat;
		font-weight: 400;
		font-size: 16px;
		line-height: 100%;
		letter-spacing: 0px;
		vertical-align: middle;
		line-height: 20px;

	}
	.header-button{
		width: 285px;
		margin-top: 0;
		font-weight: 600;
		font-size: 16px;
		line-height: 142%;
		letter-spacing: 0%;
		text-align: center;
		

	}
	.footer{
	height: 100px;
	}	
	.footer-text{
		font-family: Montserrat;
		font-weight: 600;
		font-style: SemiBold;
		font-size: 16px;
		line-height: 100%;
		letter-spacing: 0%;
		text-align: center;
		vertical-align: middle;
		padding: 40px 92px;
	}

}

